* {
  box-sizing: border-box;
}


html {
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
  /* 0.577 = tan(30deg)*/
}

body {
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h3 {
  margin-bottom: 0;
}

p {
  line-height: 1.5;
  margin: 0;
}

.container {
  max-width: 1000px;
  width: 90%;
  background-color: #6f6f6f;
  height: calc(70vh - 20px);
  padding: 50px 20px;
  border-radius: 24px;
}

.play-again {
  padding: 8px 15px;
  border: 0;
  background: #f4f4f4;
  border-radius: 5px;
  margin-top: 10px;
}

.msg {
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 1px solid #dedede;
  display: inline-block;
  font-size: 30px;
  margin: 20px;
  padding: 10px;
}

.control {
  margin: 20px auto;
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.control button {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 8px;
  width: 100%;
  margin: 10px;
  outline: none;
  border: 0;
}

.control button:hover {
  -webkit-box-shadow: 5px 8px 10px 0px rgba(0,0,0,0.75);;
  -moz-box-shadow: 5px 8px 10px 0px rgba(0,0,0,0.75);;
  box-shadow: 5px 8px 10px 0px rgba(0,0,0,0.75);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}
.control button:active {
  -webkit-box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);;
  -moz-box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);;
  box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}